<a href="https://colab.research.google.com/github/Jlrys/Linear-Algebra_ChE_2nd-Sem-2021-2022/blob/main/Activity_1_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python Fundamentals
In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:
* Variables and Data Types 
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

##Variables and Data Types

A variable is an identifier that is used to store a value. There are four commonly used data types: *int, float, char, and bool*. The size and range of a data type differ from one another.

In [ ]:
x = 15
a,b = 5, -10
b

-10

In [ ]:
type(x)

int

In [ ]:
y = 5.0
type(y)

float

In [ ]:
x = float(x)
type (x)

float

In [ ]:
s,t,u = "0", "1",'one'
type(u)

str

In [ ]:
s_int = int(s)
s_int

0

## Operations
Operations are such activities it can cause an effect in a variable or a functional change in the current position.

### Arithmetic

In [ ]:
j,k,l,m = 2.2, 11.26, -6.0, 7

In [ ]:
# Addition
S = j+k
S

13.46

In [ ]:
### Subtraction
D = k-m
D

4.26

In [ ]:
### Multiplication
M = l*m
M

-42.0

In [ ]:
### Division 
Q = j/m
Q

0.31428571428571433

In [ ]:
### Floor Division
Fq = k//m
Fq

1.0

In [ ]:
### Exponentiation
E = j**k
E

7172.645817303821

In [ ]:
### Modulo
mod = j%m
mod

2.2

## Assignment Operations
Assignment operation (=) assigns the value of the right-hand operand to the storage location named by the left-hand operand. The left-hand operand of an assignment operator must be an adjustable value. After the assignment, an assignment expression has the value of the left operand but is not a value.

In [ ]:
A, B, C, D = 20, 0, 6, 4

In [ ]:
A += j
A

22.2

In [ ]:
B -= l
B

6.0

In [ ]:
C *= m
C

42

In [ ]:
A **= 3
A

1309714905285.888

## Comparators
Comparators are a built-in design pattern in Python that allows you to sort a list in a particular way. This is useful when you have a list of objects, and you want to sort them in a certain way that respects their relationships. For example, you might have a list of students, and you want to sort them by their last name. A Comparator could be used to sort the list so that last names come before first names, and so on.

In [ ]:
res_1, res_2, res_3 = 1, 2.0, "1"
true_val = 1.0

In [ ]:
## Equality 
res_1 == true_val

True

In [ ]:
## Non-equality
res_2 != true_val

True

In [ ]:
## inequality
s1 = res_1 > res_2
s2 = res_1 < res_2/2
s3 = res_1 >= res_2/2
s4 = res_1 <= res_2
s3

True

## Logical
In Python, logical operators are used to execute logical operations on variable values. Either true or false is the value. There are three basic types of logical operators: *logical AND, logical OR, and logical NOT*. Keywords or special characters are used to represent operators.


![logical operation.png]()

In [ ]:
res_1 == true_val

True

In [ ]:
res_1 is true_val

False

In [ ]:
res_1 is not true_val

True

In [ ]:
r, g = False, True
conj = r and g
conj

False

In [ ]:
r, g = True, False
disj = r or g
disj

True

In [ ]:
r, g = True, False
nand = not(r or g)
nand

False

In [ ]:
r, g = True, False
xor = (not r and g) or (r and not g)
xor

True

## Input and Output Operations
In Python, two built-in functions are used to execute input and output operations (OI Operations). The two built-in functions for performing output and input operations are listed below. print() is a method for generating output. input() is a function that is used to perform input operations.

In [ ]:
print("Hello People")

Hello People

In [ ]:
cnt = 1

In [ ]:
string = "Good morning"
print(string, ", Current run count is:", cnt)
cnt += 1

Good morning , Current run count is: 2

In [ ]:
print(f"{string}, Current count is: {cnt}")

Good morning, Current count is: 3

In [ ]:
sem_grade = 75.18723679
name = "Bebang"
print("Good day {}, your semestral grade is: {}".format(name, sem_grade))

Good day Bebang, your semestral grade is: 75.18723679

In [ ]:
w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
print("The weight pf your semestral grades are:\
\n\t{:.2%} for Prelims\
\n\t{:.2%} for Midterm, and\
\n\t{:.2%} for Finals.".format(w_pg, w_mg, w_fg))

The weight pf your semestral grades are:
	30.00% for Prelims
	30.00% for Midterm, and
	40.00% for Finals.

In [ ]:
x = input("enter a number: ")
x

enter a number: 10.20

'10.20'

In [ ]:
x = float
name = input("Kimi no nawa: ")
pg = int(input("Enter prelim grade: "))
mg = int(input("Enter midterm grade: "))
fg = int(input("Enter finals grade: "))
x = pg*0.3 + mg*0.3 + fg*0.4
sem_grade = x

print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

Kimi no nawa: your name
Enter prelim grade: 89
Enter midterm grade: 85
Enter finals grade: 75
Hello your name, your semestral grade is: 82.2

##Looping Statement

Looping statements in python are a way of executing a block of code repeatedly. There are two primary looping constructs in Python: the for loop and the while loop. The for loop is the looping construct used in the for statement. The while loop is the looping construct used in the while statement.

###While

While Loop is used to execute a set of statements again and again until a condition is met, and when the condition becomes false, the line immediately after the loop in the program is executed.

In [ ]:
## while loops
b, c = 5, 15
while(b<=c):
    print(f"{b}\t|\t{c}")
    b+=1

5	|	15
6	|	15
7	|	15
8	|	15
9	|	15
10	|	15
11	|	15
12	|	15
13	|	15
14	|	15
15	|	15

###For
For loop is a control statement that allows code to be executed repeatedly by defining iteration.

In [ ]:
# for(int i=0; i<10; i++) {
# printf(i)
# }

i=0
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
playlist = ["The Joker and the Queen, Pagsamo, Double take, Ikaw lang"]
print('Now Playing:\n')
for song in playlist:
    print(song)

Now Playing:

The Joker and the Queen, Pagsamo, Double take, Ikaw lang

##Flow Control
Flow control of a program is the sequence in which the program's code runs. The control flow of a Python program is governed by conditional statements, loops, and function calls. Python's control structures are divided into three categories: The default mode is sequential. Selection is a decision-making and branching tool.

##Conditional Statements
If conditional statements include more than one condition, they are conditional statements with more than one condition. The second condition is only examined if the first condition is false. If Condition 1 is false, Condition 2 is not tested.

In [ ]:
numeral1, numeral2 = 12, 24
if(numeral1 == numeral2):
    print("Yey")
elif(numeral1>numeral2):
    print("Hoho")
else: 
    print("Aww")

Aww

##Functions
Each function has three components. They do, Function declaration or prototype. This informs the compiler about the function name, function arguments, and the data type of the return value. A function is a reusable chunk of code that is used to accomplish a single, related activity. Functions improve the modularity of your program and allow for more code reuse.

In [ ]:
# void DeleteUser(int userid){
#     delete(userid)
# }

def delete_user (userid):
  print("Successfullu deleted user: {}".format(userid))

def delete_all_users ():
  print("Successfully deleted all users")

In [ ]:
userid = 20201234
delete_user(20201234)
delete_all_users()

Successfullu deleted user: 20201234
Successfully deleted all users

In [ ]:
def add(addend1, addend2):
    return addend1 + addend2

def power_of_base2(exponent):
    return 2**exponent

addend1 = 2
addend2 = 8

exponent = 7

#add(addend1, addend2)
power_of_base2(exponent)

128

In [ ]:
add(addend1, addend2)

10

##**Assignment**
Create a grade calculator that computes for the semestral grade of a course. 
Students could tpe their names, the name of the course, then their prelim, midterm, and final grade. 
The program should print the semestral grade in 2 decimal points and should display the following emojis depending on the situation: 
> happy - when grade is greater than 70.00

> laughing - when grade is exactly 70.00

> sad - when grade is below 70.00


---

    happy, lol, sad = "\U0001F600", "U0001F606", "\U0001F62D"

In [ ]:
name = input("Name: ")
course = input("Course: ")
pg = float(input("Prelim Grade: "))
mg = float(input("Midterm Grade: "))
fg = float(input("Final Grade: "))
x = pg*0.3 + mg*0.3 + fg*0.4
sem_grade = "{:.2f}".format(x)
emoji = x
print("Semestral Grade is: {}".format(sem_grade, emoji), end =" ") 
if(emoji == 70):
  print("\U0001F606")
elif(x > 70):
  print("\U0001F600")
else:
  print("\U0001F62D")

Name: Julie J. Reyes
Course: Linear Algebra
Prelim Grade: 89.012
Midterm Grade: 74.856831
Final Grade: 80.00
Semestral Grade is: 81.16